#keyboard{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #252525;
	padding: 20px;
	display: none;
	z-index: 100;
}
#keyboard2{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #252525;
	padding: 20px;
	display: none;
	z-index: 100;
}
.tab
{
	background-color: #585858;
	border-radius: 2px;
	width: 60px;
	height: 60px;
	text-align: center;
	padding-top: 5px;
	color: white;
	font-weight: normal;
	font-size: 30px;
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	cursor: pointer;
}